h1 {
 color: blue;
 text-align: center;
}

body {
background-color: aquamarine;
}
p {
color:bisque
font-size: 20px;

}

#imagemprincipal {
width: 390p;
height: 390px;
border:10px solid black;
padding:20px;
margin:20px;

}

